<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="manifest" href="/static/site.webmanifest">
    <title>Poster Podcast</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdn.plyr.io/3.7.2/plyr.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="https://cdn.plyr.io/3.7.2/plyr.js"></script>
</head>
<body style="background-color: #A4A5A6;">
    {% block content %}{% endblock %}
    <script src="/static/js/player.js"></script>
</body>
</html>